# Build
build/
CMakeUserPresets.json

# IDE
.vs/
*.user
*.suo
*.sln
*.vcxproj*
.vscode/*
!.vscode/
!.vscode/settings.json
# vcpkg
vcpkg/
vcpkg_installed/
.claude/

# Compiled
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dylib
bitcask_data/
# OS
.DS_Store
Thumbs.db
.cache/
.codegraph/
