# Build
build/
out/

# IDE
.vs/
*.user
*.suo
*.sln
*.vcxproj*
.vscode
# vcpkg
vcpkg/
vcpkg_installed/

# Compiled
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dylib
bitcask_data/
# OS
.DS_Store
Thumbs.db
.cache/
